@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>
<h4>Products</h4>

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> 
                    <!-- route to ProductDetails, which is the name of the Get method in HomeController -->
                    <a asp-action="ProductDetails" asp-route-id="@item.ProductId">@item.Title</a> 
                </td>
            </tr>
    }
        </tbody>

    </table>
